body {
  margin: 0;
  padding: 0;
  background-color: #6abadeba;
  font-family: 'sans-serif';
  background-image: url("https://images.unsplash.com/photo-1518655048521-f130df041f66?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8d2hpdGUlMjBkZXNrdG9wfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80");
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.login {
  width: 382px;
  overflow: hidden;
  margin: auto;
  margin: 20 0 0 450px;
  padding: 80px;
  background: #0c7b93;
  border-radius: 15px;
}

h2 {
  text-align: center;
  color: black;
  padding: 20px;
  font-size: 30px;
}

label {
  color: black;
  font-size: 17px;
}

#Uname {
  width: 300px;
  height: 30px;
  border: none;
  border-radius: 3px;
  padding-left: 8px;
}

#Pass {
  width: 300px;
  height: 30px;
  border: none;
  border-radius: 3px;
  padding-left: 8px;
}

#log {
  width: 300px;
  height: 30px;
  border: none;
  border-radius: 17px;
  padding-left: 7px;
  color: blue;
}

span {
  color: rgb(7, 6, 6);
  font-size: 17px;
}
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 20px 30px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  float: left;
  font-size: 15px;
  font-weight: bold;
}
a {
  float: right;
  background-color: grey;
}
.bottom-container {
text-align: center;
  color: black;
  padding: 20px 0 20px;
}
